{% extends 'headerPage.html' %}

{% block content%}

    <h2>Check mileage of the Car instantly:</h2>

    <h3>Please,enter details:</h3>
    <br>
    {%  if scoreval  %}
    <form method="post" enctype="multipart/form-data" action="updateDataBase">
    {% else %}
    <form method="post" enctype="multipart/form-data" action="predictMPG">
    {% endif%}
 {% csrf_token %}
 No.of cylinders the car have....:
 <div class="col-md-4 col-sm-4"><label for="fname">Cylinders:</label> </div> <input name="cylinderVal" type="text" value={{temp.cylinders}}><br><br>The car's displacement rate....:           
 <div class="col-md-4 col-sm-4"><label for="lname">Displacement:</label> </div> <input type="text" id="lname" name="dispVal" value={{temp.displacement}}><br><br>The car's Horsepower.............:      
 <div class="col-md-4 col-sm-4"><label for="fname">Horsepower:</label> </div> <input type="text" id="fname" name="hrsPwrVal" value={{temp.horsepower}}><br><br> THe car's weight.....................:
 <div class="col-md-4 col-sm-4"><label for="lname">Weight:</label> </div> <input type="text" id="lname" name="weightVal" value={{temp.weight}}><br><br> The car's acceleration............:
 <div class="col-md-4 col-sm-4"><label for="fname">Acceleration:</label></div>  <input type="text" id="fname" name="accVal" value={{temp.acceleration}}><br><br> The car's model......................:
 <div class="col-md-4 col-sm-4"><label for="lname">Model:</label> </div> <input type="text" id="lname" name="modelVal" value={{temp.model_year}}><br><br>Only 3 choices for origin:1,2,3:
 <div class="col-md-4 col-sm-4"><label for="lname">Origin:</label> </div> <input type="text" id="lname" name="originVal" value={{temp.origin}}><br><br> 
 <br>

 {%  if scoreval  %}
 <h1>The mileage of the car is {{scoreval}}</h1>
 <h3>If the response is convenient you may to save it in Database.Do you want to save it?
 </h3>
 <input type="hidden" id="lname" name="mpgVal" value={{scoreval}}>
 <input type="submit" value="Submit" ></div>
 {% else%}
 <input type="submit" value="Submit" ></div>
 {% endif %}

</form>
<br>


{% endblock %}